body {
  background-color: darksalmon;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: dimgray;
  height: 60px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: goldenrod;
  color: black;
}

/* article {
  display: flex;
  /* flex-direction: column; */
  /* flex-flow: row wrap;
} */ 

section {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 25px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
}

.card {
box-shadow: 10px 10px black;
margin: 25px;
border: 1px solid black;
}


.card img {
  height: 200px;
}

.card h2 {
  text-align: center;
  background-color: black;
  color: white;
  justify-content: center;
}
